# User-specific stuff
.env
.env.*
.git
.idea/
.vscode/
.phpunit.result.cache
Dockerfile
docker-compose.yml
compose.yml

# Other data
vendor/
node_modules/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
tests/
docker/
_*/
