services:
  app:
    build:
      context: . # build context is the current directory
      dockerfile: Dockerfile # specify the Dockerfile name
    container_name: ${APP_NAME}
    tty: true
    restart: always
    ports:
      - "${HTTP_LOCAL_PORT:-80}:80"
      # - "443:443"
      # - "443:443/udp"
    volumes:
      - ./:/app
      - ./docker/php.ini:/usr/local/etc/php/conf.d/99-overrides.ini
    environment:
      SERVER_NAME: :80

  mailpit:
    image: axllent/mailpit
    container_name: ${APP_NAME}_mailpit
    restart: unless-stopped
    volumes:
      - ./docker/mailpit:/data
    ports:
      - "${MAILPIT_HTTP_PORT:-8080}:8080" # Web UI
      - "${MAILPIT_SMTP_PORT:-1025}:1025" # SMTP server
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
