html {
    font-size: 0.9rem; /* Example: increases the default font size */
}

.container-fluid {
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 0;
}

/* collapsable card example */
.card-header .fa {
    transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.breadcrumb-item {
    font-size: 0.9rem;
}


/** Form Styles */
.tk-form fieldset {
    background-color: #f7f7f7;
    border: 2px solid #4CAF50;
    padding: 5px;
    border-radius: 8px;
}
.tk-form legend {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}
.tk-form fieldset > div.row {
    padding: 5px;
}
.tk-form .tk-field label {
    margin-bottom: 0;
}
.tk-form.mode-view .tk-field .form-control-plaintext {
    padding: 0;
}

/* fix switch padding issue in view mode */
.tk-form.mode-view .form-switch,
.tk-form.mode-view .form-check
{
  padding-left: 0;
}

/** Table Styles */
.tk-table .max-width {
    width: 100%;
}
/* list table sorting arrows */
.tk-table thead th {
    padding-left: 0.5em;
}
.tk-table thead th a {
    position: relative;                /* This is needed for the absolute positioning. */
    padding-left: 0.8em;
}
.tk-table thead th a::before,
.tk-table thead th a::after {
    position: absolute;
    left: -0.3em;
    font-family: 'Font Awesome 7 Free'; /* Use FontAwesome's font so that you can set the content */
    opacity: 0.15;                      /* Set opacity to gray out icons by default */
    /*font-size: 0.75em;*/              /* reduce the size of the arrows */
}
.tk-table thead th a::before {
    content: '\f0de';                   /* Font Awesome's up arrow */
    top: calc(50% - 0.75em);            /* Tricky to calculate the top offset */
}
.tk-table thead th a::after {
    content: '\f0dd';                   /* Font Awesome's down arrow */
    bottom: calc(50% - 0.75em);
}
.tk-table thead th.asc a::after,
.tk-table thead th.desc a::before {
    opacity: 1;                         /* When sorting, set full opacity on the direction */
}





